/** @format */

section.blog-banner {
  background: linear-gradient(
    182deg,
    #dde8ec 1.55%,
    #eaeff5 46.61%,
    #ffebea 98.45%
  );
}

section.blog-banner .banner-blog-text {
  text-align: left;
}

section.blog-banner .banner-blog-text h1 {
  text-align: left;
  color: var(--cnq-black);
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -1.142px;
}
section.blog-banner .banner-blog-text p {
  text-align: left;
  color: #4f5574;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px;
  letter-spacing: -0.189px;
  margin: 16px 0;
}
section.blog-list-wrap {
  padding: 100px 0;
}
section.blog-list-wrap h2 {
  color: var(--cnq-black);
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: 59.4px;
  text-transform: capitalize;
  margin-bottom: 64px;
}
section.blog-list-wrap .row {
  row-gap: 24px;
}
section.blog-list-wrap .blog-list-grid img {
  border-radius: 16px;
}
section.blog-list-wrap .blog-list-grid h3 span {
  display: block;
  color: #4f5574;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.766px;
  margin-bottom: 5px;
}
section.blog-list-wrap .blog-list-grid .blog-list-img {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
section.blog-list-wrap .blog-list-grid .blog-list-img::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
section.blog-list-wrap .blog-list-grid:hover .blog-list-img::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

section.blog-list-wrap .blog-list-grid h3 {
  color: var(--cnq-black);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30.026px;
  margin-bottom: 18px;
}

section.blog-list-wrap .blog-list-grid a {
  color: #4f5574;
}
section.blog-list-wrap .blog-list-grid a:hover {
  color: var(--cnq-primary);
}

section.blog-list-wrap .blog-list-grid a span.icon-arrow {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTUgMTJIMTkiIHN0cm9rZT0iIzRGNTU3NCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTEyIDVMMTkgMTJMMTIgMTkiIHN0cm9rZT0iIzRGNTU3NCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+');
  background-size: 20px;
}
section.blog-list-wrap .blog-list-grid a:hover span.icon-arrow {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNNSAxMkgxOSIgc3Ryb2tlPSIjMzM2NmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgogIDxwYXRoIGQ9Ik0xMiA1TDE5IDEyTDEyIDE5IiBzdHJva2U9IiMzMzY2ZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPg==');
}

section.blog-call-to-action {
  border-top: 1px solid #e4e6ef;
  border-bottom: 1px solid #e4e6ef;
  background: linear-gradient(180deg, #dde8ec 0%, rgba(255, 255, 255, 0) 100%);
  padding: 20px 0;
}

section.blog-call-to-action .cta-tex-wrap {
  gap: 48px;
}
section.blog-call-to-action .cta-tex-wrap p {
  color: var(--cnq-black);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
section.blog-call-to-action .cta-tex-wrap .cta-btn .btn {
  padding: 20px;
  border-radius: 6px;
  background: var(--cnq-primary);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
}
section.blog-call-to-action .cta-tex-wrap .cta-btn .btn:hover {
  background: var(--cnq-black);
}

/*Blog Details*/
.breadcrumb-div {
  padding: 30px 0px 0px 0px;
}
.breadcrumb-div li.breadcrumb-item {
  color: #4f5574;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.189px;
}
.breadcrumb-div li.breadcrumb-item.active {
  font-weight: 400;
}
.breadcrumb-div .breadcrumb-item + .breadcrumb-item::before {
  content: '';
  background-image: url(../images/breadcrumb-icon.png);
  width: 30px;
  height: 30px;
  position: relative;
  top: -2px;
}
.bfi-img {
  border-radius: 16px;
  height: 393px;
  object-fit: cover;
}
.blog-details-content {
  margin-bottom: 30px;
  margin-top: 90px;
}
.max-blog-detail {
  max-width: 1000px;
  margin: 0 auto;
}
.blog-details-sidebar {
  max-width: 220px;
  position: sticky;
  top: 20px;
  margin-top: 10px;
}
.blog-details-sidebar h4 {
  color: var(--cnq-black);
  font-family: var(--font-raleway);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.189px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
ul.article-list {
  padding: 0px;
  list-style: none;
  margin-bottom: 30px;
}
ul.article-list li {
  list-style: none;
  border-left: 2px solid #e8eaed;
}
ul.article-list li a {
  color: #4f5574;
  font-family: var(--font-raleway);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.189px;
  display: block;
  padding: 8px;
}
ul.article-list li.active {
  border-radius: 4px 4px 0px 0px;
  border-left: 2px solid #36f;
  background: #eaefff;
}
ul.article-list li.active a {
  font-weight: 600;
}
.article-share-div {
  padding-top: 30px;
}
.article-share-div h5 {
  color: var(--cnq-black);
  font-family: var(--font-raleway);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.189px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.article-share-div ul {
  padding: 0px;
  list-style: none;
}
.article-share-div ul li {
  list-style: none;
  display: inline-block;
  padding: 4px 4px;
}
.article-share-div ul li a {
  display: block;
}
.blog-content-div p {
  color: #4f5574;
  font-family: var(--font-raleway);
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.189px;
  margin-bottom: 20px;
}
.blog-content-div h1 {
  color: var(--cnq-black);
  font-family: var(--font-raleway);
  font-size: 45px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -1.142px;
  margin-bottom: 20px;
}
.blog-content-div h2 {
  color: #2d324d;
  font-family: var(--font-raleway);
  font-size: 28px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.189px;
  margin-bottom: 20px;
}
.blog-content-div h3 {
  color: #2d324d;
  font-family: var(--font-raleway);
  font-size: 28px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.189px;
  margin-bottom: 20px;
}
.blog-content-div h4,
.blog-content-div h5,
.blog-content-div h6 {
  color: #2d324d;
  font-family: var(--font-raleway);
  font-size: 22px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.189px;
  margin-bottom: 20px;
}
.blog-content-div ul {
  padding-left: 30px;
  margin-bottom: 10px;
}
.blog-content-div ul li {
  color: var(--cnq-black);
  font-family: var(--font-raleway);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.189px;
  list-style: disc;
  margin-bottom: 10px;
}
.blog-content-div a {
  color: #354cc5;
  font-family: var(--font-raleway);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.189px;
}
.blog-content-div img {
  border-radius: 16px;
  margin-bottom: 20px;
}
.blog-ctc-div {
  border-radius: 16px;
  background: #2d324d;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 50px;
  text-align: center;
}
.blog-ctc-div h3 {
  color: #fff;
  text-align: center;
  font-family: var(--font-raleway);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.blog-ctc-div p {
  color: #fff;
  text-align: center;
  font-family: var(--font-raleway);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.btn-blog-ctc {
  border-radius: 6px;
  background: #36f;
  padding: 16px;
  color: #fff;
  font-family: var(--font-raleway);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
  border: 1px solid #36f;
}
.btn-blog-ctc:hover,
.btn-blog-ctc:focus {
  background: #fff;
  color: #36f;
  border: 1px solid #36f;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background: #fff;
  color: #36f;
  border: 1px solid #36f;
}
/**recommented-article-slider**/
.recommented-article-slider {
  margin-top: 50px;
}
.recommented-article-slider h3 {
  color: var(--cnq-black);
  font-family: var(--font-raleway);
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.recommented-article-slider .recommendation-item .recommendation-item-img {
  margin-bottom: 20px;
}
.recommented-article-slider .recommendation-item img {
  border-radius: 16px;
}
.recommented-article-slider .recommendation-item h3 span {
  display: block;
  color: #4f5574;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.766px;
  margin-bottom: 5px;
}
.recommented-article-slider .recommendation-item h3 {
  color: var(--cnq-black);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30.026px;
  margin-bottom: 18px;
}

.recommented-article-slider .recommendation-item a {
  color: #4f5574;
}
.recommented-article-slider .recommendation-item a:hover {
  color: var(--cnq-primary);
}

.recommented-article-slider .recommendation-item a span.icon-arrow {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTUgMTJIMTkiIHN0cm9rZT0iIzRGNTU3NCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTEyIDVMMTkgMTJMMTIgMTkiIHN0cm9rZT0iIzRGNTU3NCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+');
  background-size: 20px;
}
.recommented-article-slider .recommendation-item a:hover span.icon-arrow {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNNSAxMkgxOSIgc3Ryb2tlPSIjMzM2NmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgogIDxwYXRoIGQ9Ik0xMiA1TDE5IDEyTDEyIDE5IiBzdHJva2U9IiMzMzY2ZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPg==');
}

/*Responsive*/

@media screen and (max-width: 1199px) {
  section.blog-list-wrap {
    padding: 80px 0;
  }
  section.blog-list-wrap .blog-list-grid .blog-list-img img {
    width: 100%;
  }
  section.blog-list-wrap .blog-list-grid h2 {
    font-size: 45px;
  }
  .recommented-article-slider {
    display: none;
  }
  .recommented-article-slider h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1023px) {
  .blog-content-div h1 {
    font-size: 34px;
  }
  .blog-details-content {
    margin-top: 30px;
  }
  .blog-content-div p {
    font-size: 16px;
  }
  .blog-content-div h3,
  .blog-content-div h2 {
    font-size: 26px;
  }
  .blog-ctc-div {
    padding: 20px;
  }
  .blog-ctc-div p {
    margin-bottom: 10px;
  }
  .blog-ctc-div {
    margin: 20px 0px;
  }
}

@media screen and (max-width: 767px) {
  section.blog-banner {
    padding-bottom: 30px;
  }
  section.blog-banner .banner-blog-text {
    text-align: center;
  }
  section.blog-banner .banner-blog-text h1 {
    text-align: center;
    font-size: 24px;
  }
  section.blog-banner .banner-blog-text p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  section.blog-list-wrap {
    padding: 30px 0;
  }
  section.blog-list-wrap .blog-list-grid h2 {
    font-size: 34px;
    margin-bottom: 35px;
  }
  section.blog-call-to-action .cta-tex-wrap {
    flex-direction: column;
    gap: 20px;
  }
  .blog-details-sidebar {
    display: none;
    position: relative;
    top: 0;
  }
  .breadcrumb-div li.breadcrumb-item.active {
    white-space: nowrap;
    width: 78%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .bfi-img {
    height: 178px;
  }
  .breadcrumb-div {
    padding: 30px 5px 0px 5px;
  }
  .bfi {
    padding: 0px 5px;
  }
  .blog-content-div {
    padding: 0px 5px;
  }
}
